/* CSS Document */

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Museo Sans", sans-serif;
}

/* Bron: https://css-tricks.com/snippets/css/using-font-face/ */
@font-face {
    font-family: "Museo Sans";
    src: url('museo_sans_ssv');
    src: url('MuseoSans-100.otf') format('otf'),
        url('MuseoSans-300.otf') format('otf'),
        url('MuseoSans-500.otf') format('otf'),
        url('MuseoSans-700.otf') format('otf');
}

a {
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

/*Bron: https://www.youtube.com/watch?v=Mvu5OMGcdVA -----*/

a:focus{
    outline: 5px solid rgba(255, 0, 0, 0.5);
    outline-offset: 2px;
    border-radius: 5px;
}

section {
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    padding-bottom: 3em;
}

/*-----Navigatie-----*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 4em;
}

/* Bron: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/ ---*/
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.logo {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 4em;
}

@media(min-width:768) {
    .logo {
        max-width: 30%;
    }
}

.login {
    margin-left: auto;
    width: 100%;
    text-align: end;
}

.menu img {
    width: 2em;
    height: 2em;
}

button{
    background:none;
    border:none;
    cursor:pointer;
}

.subNav{
    position: absolute;
    background-color:#ffffff;
    padding: 3em;
    top: 4em;
    height: 100%;
    width:100%;
    transition:0.4s;
    transform: translateY(-180%);
}

.subNav a{
    padding: 1em;
    font-weight: 500;
    color:#484848;
}

.subNav.active{
    transition:0.5s;
    transform: translateX(0);
}

@media (min-width:800px){
    .subNav{
        height:3em;
        padding:1em 0;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/*-----banner+available------*/

.banner {
    width: 100%
}

.info-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
    margin: 0;
}

.info-bar h2 {
    font-size: 1.8em;
    color: #555555;
}

a.button {
    display: flex;
    width: 8.5em;
    height: 3em;
    background-color: #e60012;
    text-decoration: none;
    color: white;
    margin: 1em;
    font-family: "Museo Sans";
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/*-----GAMESTORE-----*/

.gamestore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e60012;
    margin: 3em 1em;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 2em 1em 1em;
}

.gamestore h2 {
    margin-bottom: 1em;
}

.gamestore img {
    transform: rotate(-15deg);
    width: 40%;
    margin-bottom: 1em;
}

.gamestore a {
    background-color: rgba(67, 8, 8, 0.5);
    color: white;
    font-weight: 500;
    text-align: left;
    border-radius: 5px;
    letter-spacing: normal;
    padding: 1em;
    width: 90%;
}

.gamestore a:after {
    content: ">";
    width: 1em;
    height: 1em;
    position: absolute;
    right: 2em;
}

/*---Bron grid column/row: https://css-tricks.com/snippets/css/complete-guide-grid/---*/

@media (min-width: 30em) {
    .gamestore {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .gamestore h2 {
        grid-column: 2/3;
    }

    .gamestore img {
        grid-column: 1/2;
        grid-row: 1/3;
        justify-self: center;
    }

    .gamestore a {
        grid-column: 2/3;
    }
}

@media (min-width: 60em) {
    .gamestore {
        display: flex;
        flex-direction: row;
        height: 20vh;
    }

    .gamestore img {
        width: 10vw;
        margin: 1em 1em 2em 3em;
    }

    .gamestore h2 {
        margin: 1em;
    }
}

@media (min-width:1250px) {
    .gamestore {
        margin: 10em;
    }
}

/*-----CONSOLES-----*/

.explore {
    margin: 3em 1em;
    flex-direction: column;
    border: 1px solid #ccc;
    border-width: 1px 0 0 0;
    padding-top: 3em;
    border: 1px solid #ccc;
    border-width: 1px 0 1px 0;
    padding-bottom: 3em;
}

.explore h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #3c3c3c
}

.explore img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
}

.explore h2 {
    margin: 1em 0;
    color: #3c3c3c;
    font-weight: 500;
    font-size: 1.7em;
}

@media (min-width:570px) {
    .explore h2 {
        font-size: 2.5em
    }
}

.explore a {
    display: flex;
    width: 15em;
    height: 3em;
    background-color: #e60012;
    text-decoration: none;
    color: white;
    font-family: "Museo Sans";
    font-size: 15px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    margin-top: 1em;
    letter-spacing: normal;
    font-weight: 500;
    padding-left: 1em;
}

@media (min-width:1250px) {
    .explore {
        margin: 10em;
    }
}

/*-----TRENDING-----*/

.trending-games h2 {
    margin-left: 0;
}

.trending-games {
    margin: 3em .5em;
}

.trending-games ul {
    overflow: scroll;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.trending-games ul li {
    list-style-type: none;
    min-width: 40vw;
    margin-right: 2em;
}

.trending-games ul li img {
    border-radius: 5px;
    width: 100%;
}

.trending-games h3 {
    margin-left: .5em;
    font-size: 1.5em;
}

@media (min-width:1250px) {
    .trending-games {
        margin: 10em;
    }
}

li p:nth-of-type(1) {
    font-weight: 100;
    margin: .2em 0em 1em 0em;
}

li p:nth-of-type(2) {
    font-size: 1.4em;
    color: #484848;
}

li p:nth-of-type(3) {
    font-weight: 100;
}

/*-----FRONT NEWS-----*/

.front-news{
    margin: 3em, .5em;
}

h2 {
    font-size: 1.5em;
}

article p {
    padding-left: .5em;
    margin-top: .9em;
}

article p:nth-of-type(1) {
    font-style: italic;
    font-weight: 100;
}

article p:nth-of-type(3) {
    font-weight: 100;
}

article h2 {
    margin-bottom: .2em;
}

article a img {
    width: 100%;
    border-radius: 15px;
}

.more-news {
    display: flex;
    width: 100%;
    height: 2.7em;
    background-color: #e60012;
    text-decoration: none;
    color: white;
    margin: 1em .5em 2em .5em;
    font-family: "Museo Sans";
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media (min-width:570px) {
    .front-news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        margin: 0 2em;
    }

    .front-news h2 {
        grid-column: 1/-1;
    }
    
    .more-news {
        grid-column: 1/-1;
    }
}

@media (min-width:1250px) {
    .front-news {
        margin: 10em;
    }
}

/*----CHARACTERS-----*/

.char h2 {
    padding: .5em;
    margin-bottom: .5em;
}

.char ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    padding: .8em;
    margin: 0;
}

.char ul li {
    list-style-type: none;
    text-align: left;
    position: relative;
}

.char ul li img {
    max-width: 100%;
    border-radius: .5em;
}

.char ul li img:nth-of-type(2) {
    position: absolute;
    left: .1em;
    width: 100%
}

@media (min-width: 35em) {
    .char ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:1153px) {
    .char {
        margin: 10em;
    }
}

/*-----FOOTER-----*/

footer{
    background-color: #3c3c3c;
}

.info {
    background-color: #f2f1f1;
    margin: 0;
    padding: 0;
}

.info li a{
    list-style-type: none;
    color: #2576bc;
    padding: 1em 0;
    font-size: 1.4em;
    font-weight: 500;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
}

.contact,
.social {
    margin: 0;
    padding: 1em;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .2em;
}

.contact,
.social {
    list-style-type: none;
}

.contact li,
.social li {
    justify-self: center;
}

.contact li a{
    color: white;
}

.social img {
    width: 80%;
    border-radius: 10px;
}

footer p{
    text-align: center;
    color: #b5b5b5;
    font-size: .8em;
    padding: 1em;
}


/*-----NEWS PAGE-----*/

h1 {
    background-color: #f2f1f1;
    margin: 0;
    font-weight: 300;
    text-align: left;
    padding-left: .5em;
    padding-top: .3em;
    font-size: 4em;
    color: #555555;
}

.news {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    background-color: #f2f1f1;
    padding: 2em;
}

@media (min-width: 600px) {
    .news {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px){
    .news{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.news img {
    width: 100%;
}

.news article {
    border: 1px solid #dfdfdf;
    width: 100%;
    padding-bottom: 2em;
}

.news article:hover {
    border: 1px solid #e60012;
}

.read-more {
    color: #2576bc;
    font-weight: 500;
    padding: 0;
}

.news h3 {
    margin: .4em;
}

.news p {
    font-weight: 300;
    color: #555555;
}