/* CSS Document */

html {
    box-sizing: border-box;
}

body {
    margin: 0; 
    font-family: "Museo Sans";
}

a {
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

section{
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    padding-bottom: 3em;
}

article{
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    padding-bottom: 3em;
}

/*-----Navigatie-----*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-right:1em;
}

nav {
    position: sticky;
    top: 0;
    background-color: white;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    text-decoration: none;
    display: flex;
    font-weight: 500;
    font-size: .8em;

}

nav ul li img {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100%;
}

/* Bron: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/*/
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.logo{
    padding:0;
    margin:0;
    width:13%;
}

.login {
    margin-left: auto;
    margin-right:.5em;
}

.login p:nth-of-type(1){
    font-size: .8em;

}

.menu img {
    width: 27px;
    height: 22px;
}

/*-----banner+available------*/

.banner{
    width:100%
}

.info-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
    margin: 0;
}

.info-bar h2 {
    font-size: 1.8em;
    color:#555555;
}

a.button {
    display: flex;
    width: 8.5em;
    height: 3em;
    background-color: #e60012;
    text-decoration: none;
    color: white;
    margin: 1em;
    font-family: "Museo Sans";
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/*-----GAMESTORE-----*/

.gamestore {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #e60012;
    margin: 3em 1em;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 2em 1em 1em;
}

.gamestore h2 {
    margin-bottom: 1em;
}

.gamestore img {
    transform: rotate(-15deg);
    width: 40%;
    margin-bottom: 1em;
}

.gamestore a {
    background-color: rgba(67, 8, 8, 0.5);
    color: white;
    font-weight: 500;
    text-align: left;
    border-radius: 5px;
    letter-spacing: normal;
    padding: 1em;
    width: 90%;
}

.gamestore a:after{
    content: ">";
    width: 1em;
    height: 1em;
    position:absolute;
    right: 2em;
}

/*---Bron grid column/row: https://css-tricks.com/snippets/css/complete-guide-grid/---*/

@media (min-width: 30em){
    .gamestore{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .gamestore h2{
        grid-column:2/3;
    }
    .gamestore img{
        grid-column:1/2;
        grid-row:1/3;
        justify-self: center;
    }
    .gamestore a{
        grid-column: 2/3;
    }
}

@media (min-width: 60em){
    .gamestore{
        display:flex;
        flex-direction: row;
        height:18vh;
    }
    .gamestore img{
        width:10vw;
        margin: 1em 1em 2em 3em;
    }
    .gamestore h2{
        margin:1em;
    }
}

@media (min-width:1250px){
    .gamestore{
        margin:10em;
    }
}

/*-----CONSOLES-----*/

.explore {
    margin: 3em 1em;
    flex-direction: column;
}

.explore h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #3c3c3c
}

.explore img {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    border-radius: 10px;
}

.explore h2 {
    margin: 1em 0;
    color: #3c3c3c;
    font-weight: 500;
    font-size: 1.7em;
}

@media (min-width:570px){
    .explore h2{
        font-size:2.5em
    }
}

.explore a {
    display: flex;
    width: 15em;
    height: 3em;
    background-color: #e60012;
    text-decoration: none;
    color: white;
    font-family: "Museo Sans";
    font-size: 15px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    margin-top: 1em;
    letter-spacing: normal;
    font-weight: 500;
    padding-left: 1em;
}

@media (min-width:1250px){
    .explore{
        margin:10em;
    }
}

/*-----TRENDING-----*/

.trending-games {
    margin: 3em .5em;
}

.trending-games ul {
    overflow: scroll;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.trending-games ul li {
    list-style-type: none;
    min-width:40vw;
    margin-right:2em;
}

.trending-games ul li img {
    border-radius: 5px;
    max-width: 100%;
}

.trending-games h3 {
    margin-left: .5em;
    font-size: 1.5em;
}

@media (min-width:1250px){
    .trending-games{
        margin:10em;
    }
}

/*-----NEWS-----*/

li p:nth-of-type(1) {
    font-weight: 100;
    margin: .2em 0em 1em 0em;
}

li p:nth-of-type(2) {
    font-size: 1.4em;
    color: #484848;
}

li p:nth-of-type(3) {
    font-weight: 100;
}

article h2 {
    font-size: 1.5em;
    margin-left: .5em;
}

article p {
    padding-left: .5em;
    margin-top: .9em;
}

article p:nth-of-type(1) {
    font-style: italic;
    font-weight: 100;
}

article p:nth-of-type(3) {
    font-weight: 100;
}

article h2 {
    margin-bottom: .2em;
}

article a img {
    padding: .5em;
    width: 96vw;
}

.more-news {
    display: flex;
    width: 22.5em;
    height: 2.7em;
    background-color: #e60012;
    text-decoration: none;
    color: white;
    margin: 1em .5em 2em .5em;
    font-family: "Museo Sans";
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/*----CHARACTERS-----*/

.char h2{
    padding:.5em;
    margin-bottom:.5em;
}

.char ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    padding:.8em;
    margin:0;
}

.char ul li {
    list-style-type: none;
    text-align: left;
    position: relative;
}

.char ul li img {
    max-width: 100%;
    border-radius:.5em;
}

.char ul li img:nth-of-type(2) {
    position: absolute;
    left: .1em;
    width:100%
}

@media (min-width: 35em){
    .char ul{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:1153px){
    .char{
        margin:10em;
    }
}

